/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 3.0 License

Name       : Erasure
Description: A two-column, fixed-width design with a dark color scheme.
Version    : 1.0
Released   : 20120205
*/

* {
margin: 0;
padding: 0;
}

a {
text-decoration: underline;
color: #CC7F5C;
}

a:hover {
text-decoration: none;
}

.example {
  padding-bottom: 4em;
  margin-bottom: 4em;
  border-bottom: 1px solid #BABABA;
}

body {
background: #0C1114 url(http://www.majhost.com/gallery/moony/CapSol/img01.jpg);
color: #8EA2AD;
line-height: 1.75em;
font-size: 10pt;
}

body,input {
font-family: "Helvetica", sans-serif;
}

br.clearfix {
clear: both;
}

strong {
color: #CEE2ED;
}

h1,h2,h3,h4 {
font-weight: normal;
}

h2 {
font-size: 1.5em;
}

h2,h3,h4 {
color: #FFFFFF;
margin-bottom: 1em;
font-family: Helvetica, sans-serif;
text-shadow: 0px 1px 1px #0C1114;
}

h3 {
font-size: 1.25em;
}

h4 {
font-size: 1em;
}

img.alignleft {
margin: 5px 20px 20px 0;
float: left;
}

img.aligntop {
margin: 5px 0 20px 0;
}

#content {
float: left;
padding: 0;
width: 300px;
}

#footer {
text-align: center;
background: #090C0E;
width: 860px;
padding: 20px;
margin: 0 auto 500px auto;
border-bottom: solid 1px #16232D;
border-top: solid 1px #000000;
color: #313C44;
}

#footer a {
color: #313C44;
}

#header {
position: relative;
padding: 40px;
height: 90px;
}

#logo {
top: 75px;
position: absolute;
left: 40px;
}

#logo a {
text-decoration: none;
color: #FFFFFF;
}

#logo h1 {
font-size: 3.5em;
font-family: Helvetica, sans-serif;
text-shadow: 0px 2px 2px #0C1114;
margin: 0 0 0.25em 0;
}

#logo h2 {
margin: 0;
padding: 0;
white-space: nowrap;
font-size: 1.0em;
color: #8EA2AD;
}

#menu {
font-family: Helvetica, sans-serif;
position: absolute; 
right: 20px;
top: 100px;
height: 30px;
}

#menu a {
color: #FFFFFF;
text-decoration: none;
text-transform: lowercase;
font-size: 1.25em;
text-shadow: 0px 1px 1px #854022;
}

#menu ul {
padding: 0 20px 0 20px;
list-style: none;
}

#menu ul li {
display: inline;
padding: 0 15px 0 15px;
}

#page {
position: relative;
margin: 0 0 0 0;
padding: 40px 40px 0 40px;
width: 900px;
}

#page .section-list {
list-style: none;
padding-left: 0;
}

#page .section-list li {
padding: 25px 0 25px 0;
clear: both;
}

#page ul {
list-style: none;
}

#page ul li {
padding: 15px 0 15px 0;
border-top: solid 1px #16232D;
border-bottom: solid 1px #000000;
}

#page ul li.first {
padding-top: 0;
border-top: 0;
}

#page ul li.last {
border-bottom: 0;
}

#post1 {
margin: 0 0 25px 0;
overflow: hidden;
width: 675px;
}

#post2 {
float: left;
overflow: hidden;
width: 325px;
}

#post3 {
margin: 0 0 0 350px;
overflow: hidden;
width: 325px;
}

#search input.form-submit {
color: #FFFFFF;
font-family: Helvetica, sans-serif;
padding: 5px;
margin-left: 1em;
background: #CC7F5C;
border: 0;
}

#search input.form-text {
padding: 10px;
border: dotted 1px #26333D;
}

#sidebar {
padding: 0;
width: 200px;
margin: -350px 0 200px 700px;
}

#timeline {
		width: 100px;
		height: 600px;
		overflow: hidden;
		margin:  -350px 0 200px 700px;
		position: relative;
		background: url('../images/dot.gif') 3px top repeat-y;
	}
		#dates {
			width: 100px;
			height: 600px;
			overflow: hidden;
			float: left;
		}
			#dates li {
				list-style: none;
				width: 100px;
				height: 100px;
				line-height: 100px;
				font-size: 24px;
				padding-left: 10px;
				background: url('../images/biggerdot.png') left center no-repeat;
			}
				#dates a {
					line-height: 38px;
					padding-bottom: 10px;
				}
				#dates .selected {
			        font-size: 38px;
				}
		
		#issues {
			width: 400px;
			height: 600px;
			overflow: hidden;
			float: left;
		}	
			#issues li {
				width: 400px;
				height: 600px;
				list-style: none;

			}
				#issues li.selected img {
					-webkit-transform: scale(1.1,1.1);
					-moz-transform: scale(1.1,1.1);
				    -o-transform: scale(1.1,1.1);
				    -ms-transform: scale(1.1,1.1);
				    transform: scale(1.1,1.1);
				}
				#issues li img {
					float: left;
					margin: 10px 30px 10px 50px;
					-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */   
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);/* IE 6 & 7 */      
					zoom: 1;
					-webkit-transition: all 2s ease-in-out;
					-moz-transition: all 2s ease-in-out;
					-o-transition: all 2s ease-in-out;
					-ms-transition: all 2s ease-in-out; 
					transition: all 2s ease-in-out;
					-webkit-transform: scale(0.7,0.7);
					-moz-transform: scale(0.7,0.7);
				    -o-transform: scale(0.7,0.7);
				    -ms-transform: scale(0.7,0.7);
				    transform: scale(0.7,0.7);
				}
				#issues li h1 {
					color: #ffcc00;
					font-size: 48px;
					text-align: center;
					text-shadow: #000 1px 1px 2px;
				}
				#issues li p {
					font-size: 14px;
					margin: 10px 20px;
					font-weight: normal;
					line-height: 22px;
					text-shadow: #000 1px 1px 2px;
				}
		
		#grad_top,
		#grad_bottom {
			width: 500px;
			height: 80px;
			position: absolute;
		}
			#grad_top {
		        top: 0;
		        background: url('../images/grad_top.png') repeat-x;
			}
			#grad_bottom {
		        bottom: 0;
		        background: url('../images/grad_bottom.png') repeat-x;
			}
		
		#next,
		#prev {
			position: absolute;
			left: 55%;
			font-size: 70px;
			width: 38px;
			height: 22px;
			background-position: 0 -44px;
			background-repeat: no-repeat;
			text-indent: -9999px;
			overflow: hidden;
		}
			#next:hover,
			#prev:hover {
				background-position:  0 0;
			}
			#next {
				bottom: 0;
				background-image: url('../images/next_v.png');
			}
			#prev {
				top: 0;
				background-image: url('../images/prev_v.png');
			}
				#next.disabled,
				#prev.disabled {
					opacity: 0.2;
				}

#wrapper {
width: 980px;
margin: 80px auto 0 auto;
position: relative;
}
